<p class="text-2xl font-semibold italic text-slate-900" id="contacts">
    Phonebook Angular Project
</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus maxime, numquam veritatis fugiat
    quam deleniti magnam aspernatur earum perspiciatis optio corrupti enim quisquam itaque, molestias assumenda quasi
    eaque quia soluta. Ut similique, eaque qui nihil porro vero minus voluptatum itaque nam voluptate repellendus
    corporis neque assumenda aperiam consequuntur? Assumenda asperiores unde dignissimos nam exercitationem dolorum
    velit placeat quos ut id nisi distinctio excepturi repellendus non, incidunt impedit pariatur quo rem facere. Beatae
    eum, maiores earum sint necessitatibus vitae hic blanditiis quam. Enim tenetur qui id quae debitis fuga aperiam
    alias voluptate. Eos reprehenderit consequuntur maiores ad magni est! Nemo!</p>
<br>
<hr>
<br>
<app-contact></app-contact>