<!-- <div class="output-container">
    <h3>{{person.name}}
        <span (click)="deletePerson()">X</span>
    </h3>
    <hr>

    <label>Age: </label>
    {{person.age}}
    <br>
    <label>Phone-Number: </label>
    {{person.phone_number}}
    <br>
    <label>Group: </label>
    {{person.group}}

</div> -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{person.name}}
            <i class="fa fa-close" style="font-size:24px;color:red" (click)="deletePerson()"></i>
        </div>
        <hr>
        <p class="text-gray-700 text-base">
            <span>Phone Number : {{person.phone_number}}</span><br>
            <span>Age : {{person.age}}</span>
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{person.group}}</span>
    </div>
</div>